PUBLIC_API_URL=https://api.yourdomain.com/api/
PUBLIC_RETURN_URL=https://booking.yourdomain.com/
PUBLIC_SUCCESS_URL=https://booking.yourdomain.com/success
PUBLIC_STRIPE_API_URL=https://api.yourdomain.com/api/
PUBLIC_STRIPE_USER=your-user
PUBLIC_STRIPE_IMAGE_URL=https://booking.yourdomain.com/favicon.svg
NIXPACKS_NIXPKGS=nodejs_20,npm-9_x
NIXPACKS_NODE_VERSION=20
