__pycache__
*__pycache__
*temp.*
temp.*
*.log*
*.zip
venv
debug.*
db.*
*.sqlite3
*.pyc
credentials.json
staticfiles/
info.txt
/media
.vscode
*/.DS_Store 
.DS_Store
*.temp
.windsurf/

# Ignore proposals
openspec/changes/*

# Do not ignore archived proposals
!openspec/changes/archive/

# skip docs
docs/

# skip playwright
.playwright-cli
bruno/.env
